.p1 {
    background-color: #7AC74F;
    width: 5rem;
}

.p2 {
    background-color: #A1CF6B;
    width: 10rem;    
}

.p3 {
    background-color: #BBD479;
    width: 15rem;
}

.p4 {
    background-color: #D5D887;
    width: 20rem;
}

.p5 {
    background-color: #E0C879;
    width: 25rem;
}

.p6 {
    background-color: #E3CD85;
    width: 30rem;
}

.p7 {
    background-color: #E6D290;
    width: 35rem;
}

.p8 {
    background-color: #E8D69A;
    width: 40rem;
}

.p9 {
    background-color: #EADAA3;
    width: 45rem;
}