:root {
    --light-grey: #EDEDED;
    --grey: #D9D9D9;
    --grey2: #e6e6e6;
    --grey3: #e5e5e5;
    --blue: #365EFF;
    --blue2: #0024b6;
    --orange: #FF3300;
    --orange-pv: #e88617;
    --black: #313131;
    --black2: #353535;
}

@font-face {
    /* Alias que le das para utilizarla */
    font-family: "October";
    /* Origen */
    src: url("October\ Wish\ .otf") format("woff2");
    /* No bloquea la carga del texto. Cuando se descargue la tipografía se aplicará */
    font-display: swap;
}

/* https://coolors.co/03256c-2541b2-1768ac-06bee1-ffffff */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: consolas;
    background: linear-gradient(to right, white, #06BEE1);
    background: var(--light-grey);
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
}

header {
    margin-inline: 3%;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072)
    ;
    background: var(--grey);
    margin-block: 15px 30px;
    padding: 8px;
    border-radius: 15px;
    padding-left: 3%;
}

.h1-header {
    margin: 10px;
    color: var(--blue);    
}

.h1-header a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.h1-header:hover a {
    transform: scale(1.1);
}


nav {
    font-size: 1.2rem;
    display: flex;
    margin-inline: 3%;
}

.menu-ul {
    justify-content: center;
    align-items: center;
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
}

.element {
    margin: 15px;
}

.element-a {
    padding-block: 7%;
    display: block;
    font-weight: 700;
    text-decoration: none;
    color: black;
    transition: transform 0.3s ease-in-out;
}

.element-a:hover {
    color: var(--blue);
    transform: translateY(-1px);
}

.no-styles-a {
    text-decoration: none;
    color: inherit;
}


.logos-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    
}

.logo {
    width: 33px;
    margin: 10px;
    transition: transform 0.2s ease-in-out; 
    
}

.logo:hover {
    transform: translateY(-4px);
}


main { 
    margin-inline: 3%;
    flex: 1;
    height: 100vh;
}

.intro-section {
    margin-top: 43px;
    margin-inline: 3% 7%;
}

.img-esbos {
    width: 100%;
}

.intro-section-wireframes {
    display: flex;
    margin-top: 10px;
    margin-inline: 3% 7%;
    padding-bottom: 50px;
}

.intro-section-index {
    margin-top: 70px;
    margin-bottom: 30px;
    margin-inline: 3% 7%;
    display: flex;
    overflow: auto;
}

.title {
    font-size: 2.3rem;   
}

.title span {
    color: var(--orange-pv);
    font-size: 2rem;
}


.title-index {
    font-size: 3rem;
    margin-bottom: 0;
}

.sub-title {
    margin-top: 5px;
    color: var(--black2);
    font-weight: 600;
    font-size: 1.5rem;
}

.blue-span {
    color: var(--blue);
    transition: transform 0.3s ease;
}


.orange-span {
    color: var(--orange);
    transition: transform;
}

.ul-intro-left {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    color: black;
}

.ul-intro-left:hover {
    color: var(--blue);
}

.div-intro-left {
    padding-top: 30px;
}

.div-intro-right {
    display: flex;
    margin-inline: auto;
    align-items: center;
}

.img-joel {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072)
    ; 
    margin-bottom: 30px;
}

.button {
    display: block;
    font-size: 1.5rem;
    padding: 18px;
    padding-block: 10px;
    background-color: var(--black);
    margin-right: 100px;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    border: 3.1px solid var(--black);
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072)
    ; 
    transition: transform 0.3s ease;
}

.button:hover {
    color: var(--black);
    font-weight: bold;
    background-color: var(--light-grey);
    transform: translateY(-6px);
}

.content {
    display: flex;
    margin-inline: 4%;
    width: 100%;
    background: linear-gradient(to right, var(--grey3), white);
    border-radius: 20px;
    box-shadow:
      0 2.8px 2.2px rgba(0, 0, 0, 0.034),
      0 6.7px 5.3px rgba(0, 0, 0, 0.048),
      0 12.5px 10px rgba(0, 0, 0, 0.06),
      0 22.3px 17.9px rgba(0, 0, 0, 0.072)
    ;
    margin-bottom: 100px;
    padding: 50px;
    overflow: auto;
    justify-content: center;
}


.sub-content {
    width: 100%;
}

.div-global-css {
    display: flex;
}

.ul-activitats {
    margin-bottom: 30px;
}

.div-activitats {
    margin-right: 10%;
}

.leccion-title {
    font-size: 1.6rem;
    font-weight: 600;
    color: var(--black2);
}

.h2-activitats {
    text-align: center;
    font-size: 1.9rem;
}

.div-activitats ul {
    font-size: 1.3rem;
    list-style: none;
} 

.div-activitats ul li a{
    display: block;
    font-weight: 500;
    margin-top: 3px;
    color: var(--blue);
    transition: transform 0.2s ease-in-out;
} 

.div-activitats ul li a:hover{
    transform: translateX(20px);
    color: var(--blue2);
} 

.div-activitats-css ul {
    margin-top: 0;
    font-size: 1.3rem;
    list-style: none;
}

.div-activitats-css ul li a{
    display: block;
    font-weight: 500;
    margin-top: 3px;
    color: var(--blue);
    transition: transform 0.2s ease-in-out;
} 

.div-activitats-css ul li a:hover{
    transform: translateX(20px);
    color: var(--blue2);
} 

.section-esbos {
    display: flex;
    justify-content: center;
}

.footer {
    display: flex;
    margin: 0;
    margin-top: 30px;
    color: white;
    background-color: var(--black);
    height: 100px;
    padding-bottom: 50px;
    padding-inline: 2%;
}

.footer p {
    padding: 30px;
    padding-bottom: 100px;
}

.logo-footer {
    width: 50px;
    margin: 10px;
    margin-inline: 2px;
    transition: transform 0.2s ease-in-out;
}

.logo-footer:hover {
    transform: translateY(-4px);
}